= render_svg "node_modules/terra-icon/src/sprite.svg"

- component = 'terra-icon'
- example_array = [component]

= render_header(component)
= render_component_version(component)
= render_toc(example_array)
- example_array.each do |i|
  = render_example(component, i)

